<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Shopguardians Shopware Connector</label>
    <label lang="en">Shopguardians Shopware Connector</label>

    <version>1.0.3</version>
    <author>Active Value GmbH</author>

</plugin>
